*.zip
*.docx
/amum2025/.ipynb_checkpoints
/swad2025/.ipynb_checkpoints
**/.ipynb_checkpoints/
*.7z
*.csv
*.xlsx
/psi2025/lab8/.py
/psi2025/lab8/.ttt
/psi2025/lab8/.dll
/psi2025/lab8/.pyc
*.pyc
DLF_winter_2025_shared/datasets
DLF_winter_2025_shared/
*.jpg
*.png
*.jpeg
*.gif